/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 Oct, 2020, 2:21:21 AM
    Author     : Delphin Jhon
*/

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.background{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right,#000000,#000000);
    background-position: center;
    background-size: cover;
    position: absolute;
    
}

.formbox{
    width: 300px;
    height: 100px;
    position: relative;
    margin: 6% auto;
    background: bisque;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0px #000000;
}
.label{
    position: relative;
    top: 10%;
    left: 8%;
    font-size: 20px;
    font-family: cursive;
    color: black;
}

.inputfield{
    width: 80%;
    top: 200%;
    position: relative;
    padding: 15px;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

    

.submitbutton{
   
    width: 115%;
    padding: 10px 30px;
    cursor: pointer;
    margin: auto;
    background:  linear-gradient(to right,bisque,black);
    border: 1;
    outline: none;
    border-radius: 30px;
}


/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 Mar, 2020, 1:59:23 AM
    Author     : Delphin Jhon
*/

